{
    "extends": [
        "airbnb"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "rules": {
        "no-param-reassign": 0,
        "no-plusplus": 0,
        "semi": [ 2, "never" ],
        "array-bracket-spacing": [
            2,
            "always"
        ],
        "arrow-body-style": 0,
        "comma-dangle": [
            2,
            "always-multiline"
        ],
        "consistent-return": 0,
        "camelcase": 1,
        "default-case": 0,
        "dot-notation": 0,
        "func-names": 0,
        "global-require": 0,
        "settings": {
            "import/ignore": [
                "node_modules",
                "\\.json$"
            ]
        }
    }
}
